/*
Project Name: Relaxr Landing Page
Author: Your Name
Front End Developer @GA in NYC
*/

/* Box Model Hack */
{
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
  }
body {
  margin-top: -32px;
  /*margin-left: 50px;*/
  width: 960px;
  /*height: 700px;*/
  /*background-color: #f0efef;*/
}

/*HEADER*/

header {
  height: 525px;
  background-image: url("../images/header_bg.jpg");
  background-size: 900px ;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  padding: 25px 0px 25px 50px;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  padding: 0px 0px 25px 0px;

}

#button1 {
  color:#000000;
  background-color: #f9e42e;
  font-weight: 800;
  font-size: 24px;
  border-width: 2px;
  border-size: 5px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  width: 175px;
  text-align: center;
  margin: auto;
  }

  a {
  text-decoration: none;
}

  /*BENEFITS*/

div.benefits {
  margin-top: -20px;
  background-color: #f0efef;
  height: 350px;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  color:#033048;
  /*margin-left: 50px;*/
  padding: 50px 0px 0px 50px;
}

p, ul {
  font-weight: 300;
  font-size: 13px;
  list-style: disc inside;
  color:#033048;
  margin-left: 50px;
}

.benefits-text {
  width: 450px;
  font-weight: 100;
  line-height: 25px;
  font-size: 18px;
}

#benefits-normal {
  padding: 0px 0px 0px 15px;
}


/*QUOTE*/

div.quote {
  background-image: url("../images/testimonial_bg.jpg");
  margin-top: -30px;
  height: 300px;
}

p.pull-quote {
  font-style: italic;
  font-weight: 100;
  font-size: 30px;
  color:#ffffff;
  text-align: center;
  padding: 50px 0px 0px 100px;
  width: 550px;
}

p.attribution {
  font-weight: 600;
  font-size: 30px;
  color:#ffffff;
  text-align: center;
  padding: 0px 0px 0px 100px;
  width: 550px;
}

/*SIGN-UP*/

div.sign-up {
  background-color: #f9e42e;
  box-sizing: border-box;
  height: 100px;
  padding: 25px
   clear: both;
}

#button2 {
  color:#ffffff;
  background-color: #033048;
  font-weight: 800;
  font-size: 24px;
  border-width: 2px;
  border-size: 5px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  width: 225px;
  text-align: center;
  margin: auto;
  }

/*FOOTER*/

footer {
  background-color:#121212;
  box-sizing: border-box;
  height: 300px;
  padding: 40px
  clear: both;
}

#footer-logo {
    color: #f9e42e;
    font-weight: 800px;
    font-size:48px;
    text-align: center; 
    margin: auto;
    display: block;
    padding: 0px 0px 40px 0px;
  }

.logos {
  margin: auto;
  width: 100px;
  padding: 0px 0px 40px 0px;
}

.social-logo1 {
  padding-right: 15px;
}
.social-logo2 {
  padding-left: 15px;
}

.footer-text{
  color:#ffffff;
  text-align: center; 
  width: 200px;
  margin: auto;
  font-size: 16px;
}

/* BLOG*/

.blog-header {
  background-image: url();
  height: 150px;
  background-size: 0px ;
  background-color: #033048;
  color:#ffffff;
  font-family: Open Sans, sans-serif;
  overflow: hidden;
}

.logo {
  float:left;
}

.logo h1 {
  padding: 30px;
}

nav {
  float: right;
  overflow: hidden;
  padding: 65px 50px 0 0;

}

nav ul li {
  color:#f9e42e;
  display:inline-block;
  margin-left: 30px;
  font-size: 24px;
  font-weight: 300;
} 

.main {
  width:960px;
  clear: both;
    overflow: hidden;
    background-color: #f0efef;
    padding-top: 50px;
}

.blog {
  width:700px;
  float: left;
  margin-right: 20px;
  overflow: hidden;
  padding-bottom: 100px;
}

.main h2, .main h3 {
  color:#033048;
}

.post {
  margin-left: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 100px;
}

.post h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  padding: 25px 0 25px 0;
  margin: 0;
  }

.post img {
  margin-bottom: 25px;
}

.post p {
  margin: 0;
  font-weight: 100px;
  font-size: 24px;
  color: #606161;
  line-height: 35px;
}

.post p span {
    font-weight: 800px;
    font-size: 70px;
    display: inline-block;
    float: left;
    padding: 20px 5px 5px 0;

}

.post a {
  display: inline-block;
  float: right;
  text-align: right;
  font-weight: 600px;
  font-size: 24px;
  margin: 30px 0 30px 0;
}

aside {
  float:left;
  width: 240px;
  overflow: hidden;
}

aside h3 {
  font-weight: 800px;
  font-size: 32px;
  text-align: left;
  padding: 0;
  margin-bottom: 20px;
}

aside p {
  margin: 0;
  padding: 0;
  font-weight: 100px;
  font-size: 24px;

}

aside ul{
    margin: 0;
    padding: 0;
    line-height: 30px;
} 

aside li {
    list-style: none;
    text-align: left;
    font-weight: 100px;
    font-size: 24px;
}

.about-relaxr {
  line-height: 30px;
}

aside span {
    font-weight: 600px;
    font-size: 22px;
    color: #033048;
}

.ad-unit {
  margin-top: 50px;
  margin-right: 10px;
  overflow: hidden;
}


#button3 {
  color:#ffffff;
  background-color: #033048;
  font-weight: 800;
  font-size: 24px;
  border-width: 2px;
  border-size: 5px;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  width: 225px;
  text-align: center;
  margin:30px 0 0 360px;
  }

#footer-logo-blog {
    color: #f9e42e;
    font-weight: 00px;
    font-size:48px;
    text-align: center; 
    margin: auto;
    display: block;
    padding: 60px 0px 40px 0px;
  }
